/*******************************
            Global
*******************************/

/*-------------------
        Sidebar
--------------------*/

#feed .sidebar {
  overflow: visible;
}

/*-------------------
        Grid
--------------------*/

#feed .pusher,
#feed .grid,
#feed .grid > .column {
  height: 100%;
}

/*-------------------
       Inbox
--------------------*/

#feed .pusher {
  background-color: #FFFFFF;
}

#feed .tab .item .description {
  margin-left: 2em;
}

#feed .current {
  float: right;
  margin: 0.5em 0em 0em 1em;
}

#feed .left.column {
  background-color: #F7F7F7;
  padding: 1em 2em;
  max-width: 600px;
}
#feed .left.column .menu {
  margin-top: 2rem;
}

#feed .right.column {
  padding: 1em 2em;
  background-color: #FFFFFF;
}

#feed .right.column {
  font-size: 16px;
  max-width: 800px;
}

/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 1000px) {
  #feed .inbox .date {
    float: none;
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width : 1250px) {
  #feed .left.column > .menu .item {
    font-size: 1rem;
  }
}

/*******************************
          Custom
*******************************/
.brand__forename {
  font-weight: bold;
  color: #4ecdc4;
}
.brand__surname {
  font-weight: normal;
  color: #fff;
}
.ui.inverted.vertical.menu.visible .item .menu .active.item{
  color: #009fda;
}
.ui.inverted.vertical.menu.visible input{
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.9);
}
.ui.menu .item.dropdown{
  padding-left: 0;
  padding-right: 0;
}
.ui.vertical.menu .dropdown.item div.menu{
  position: initial;
  margin-top: 10px;
}
.menu-width-padding {
  padding-right: 0.95em;
  padding-left: 0.95em;
}
.ui.vertical.menu .item .menu-width-padding > i.icon {
  width: 1.18em;
  float: right;
  margin: 0em 0em 0em 0.5em;
}
.menu .menu .ui.input input{
  border-radius: 5em 5em 5em 5em;
  padding-left: 0.8em!important;
  padding-right: 0em !important;
  /*margin-right: 0.2em ;*/
}

.menu .menu .item .button{
  float: right;
  padding-left: 0.5em;
  padding-right: 0.5em;
}